// responisive 
@media only screen and (max-width: 600px) {

    .navbar {
        box-shadow: none !important;

        .navbar-toggler {
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(53, 109, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }

            border: none;
        }

    }

    .heroParent {
        margin-top: 150px !important;
        margin-left: 30px;

        img {
            display: none;

            &::before {
                display: none !important;
            }
        }
    }

    .heroSection {
        margin-bottom: 160px;
        width: auto !important;

        h1 {
            font-size: 32px !important;

        }

        p {
            width: auto !important;
            color: #4b4c5c;
            margin: 20px 0 !important;
        }
    }

    .btns {
        flex-direction: column;

        .btn {
            margin-top: 10px;
        }
    }

    .overlayer {
        width: auto;
        height: 65%;
    }

    .imageGroup {
        margin-left: 70px;
        margin-bottom: 30px;
        img {
            top: 30px;
            
            // left: -20px;
        }
        .imageGroup-img1 {
            left: -90px;
        }
        .imageGroup-img2 {
            left: -110px;
        }
        .imageGroup-img3 {
            left: -125px;
        }
    }

    .slick-slide {
        scale: 0.7;
        margin-left: 15px;
    }

    .slick-prev {
        left: 40%;
    }

    .slick-next,
    .slick-prev {
        margin-top: -20px;
    }

    .testimonials-header {
        height: auto;
        margin-bottom: 100px;
    }

    footer {
        flex-direction: column;

        .contact-us {
            width: 100%;
            text-align: center;
            align-items: center;
            height: auto;

            .faConatctus {
                height: 40px;
                width: 40px;
                font-size: 20px;
                border-radius: 50%;
                display: table-cell;
                background-color: #00000000;
                color: $dark-mode;

            }
        }
    }

    .contact-us-QuickLinks {
        h6 {
            font-size: 17px !important;

        }
    }

    .QuickLinks-content {
        font-size: 30px;
        width: 80%;

        overflow-wrap: break-word !important;


        .first {
            overflow-wrap: break-word !important;

        }

        .second {
            margin-right: 20px;
            overflow-wrap: break-word !important;


            .third {
                overflow-wrap: break-word !important;


            }

        }
    }

    .QuickLinks-content {
        display: none !important;
    }

    .QuickLinks-content-mobile {
        // display: block;
        list-style: none;
        width: 200% !important;

        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        vertical-align: middle !important;

        ul {
            width: fit-content;

            li {
                margin-top: 10px;
                font-weight: 400;
                opacity: 0.8;
                transition: all 0.4s ease-in-out;
                width: auto;
                cursor: pointer;
                font-size: 20px;
                &:hover {
                    opacity: 1 !important;
                    font-family: DMSansBold !important;
                    position: relative;
                    margin-left: 20px;

                    &::before {
                        // transform: translateX(  50%);
                        border-radius: 100%;
                        position: absolute;
                        background: $primary-light;
                        bottom: 7px;
                        height: 8px;
                        content: '';
                        width: 8px;
                        left: -30%;

                    }
                }
            }

            list-style: none;
            padding: 0;
        }




    }

    li.nav-item {
        margin: 0 auto !important;
        display: flex;
        align-items: center;
        transition: all 0.4s ease-in-out;
    
        &:hover {
            // display: block;
            font-weight: 700;
            // padding-bottom: 10px;
            position: relative;
            text-align: center;
    
            &::before {
               
                    transform: translateX(-50%);
                    border-radius: 100%;
                    position: absolute;
                    background: #356DFF;
                    bottom: 15px;
                    height: 8px;
                    content: "";
                    width: 8px;
                    left: -10px;
            }
    
        }
    
        i {
            color: #6D6E88;
            font-size: 10px;
        }
    
        .active {
            font-weight: 700;
            // padding-bottom: 10px;
            position: relative;
            text-align: center;
    
            &::before {
               
                    transform: translateX(-50%);
                    border-radius: 100%;
                    position: absolute;
                    background: #356DFF;
                    bottom: 15px;
                    height: 8px;
                    content: "";
                    width: 8px;
                    left: -10px;
            }
    
        }
    }
    .freeDots {
        display: none;
    }
}

