//vars
@import "./vars.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800;900&display=swap');

@import "./components/hero.scss";
@import "./components/testimonials.scss";
@import "./components/footer.scss";
@import "./components/responsive.scss";

@font-face {
    font-family: DMSansBold;
    src: url(../assets/fonts/DMSansBold.ttf);
}

//header
body,
html {
    font-family: 'DM Sans', sans-serif !important;
    overflow-x: hidden !important;
    box-sizing: border-box;

}


//darkmode



.dark-mode {
    color: white;
    transition: all 0.4s ease-in-out;
    background-color: $dark-mode;

    .heroSection {
        h1 {
            color: white;
            -webkit-text-stroke: 2px white;

        }
    }

    .overlayer {
        background-color: $dark-mode-Secondery;
    }

    .imageGroup h1 {
        color: white;
        -webkit-text-stroke: 2px white;

    }

    .prof-detail p {
        color: rgba(255, 255, 255, 0.507);

    }

    .card {
        background-color: #2B2D5B;

        .slick-feedback {
            color: rgba(255, 255, 255, 0.507);

        }

    }

    .slick-next,
    .slick-prev {
        color: white;
        background-color: $dark-mode;

        &:hover {
            background-color: $primary-light;
            border-color: #00000000;
        }
    }

    .navbar-brand-h3 {
        color: white;
    }

    .btn-frame {
        background-color: #00000000;
        color: white;
        border-color: white;
    }

    .navbar {
        // background-color: $dark-mode-Secondery;


        .btn-download-app {
            color: rgba(238, 238, 238, 0.562);

            &:hover {
                color: $dark-mode;
                background-color: white;
            }
        }
    }

    .nav-link {
        color: rgba(255, 255, 255, 0.459) !important;

        &:hover {
            color: rgb(255, 255, 255) !important;

        }
    }

    .active {
        color: rgb(255, 255, 255) !important;

    }

    .contact-us-QuickLinks {
        h6 {
            color: rgb(255, 255, 255) !important;

        }

        ul li {

            color: rgb(255, 255, 255) !important;
            font-weight: 100 !important;
            font-family: 'DM Sans', sans-serif !important;
            font-weight: 100 !important;
        }

    }

    .social-media {
        color: rgba(255, 255, 255, 0.459) !important;

        i:hover {
            background-color: white !important;
            color: $dark-mode  !important;

        }
    }
}


